div {
    text-align: justify;
    margin: auto 15%;
}

h1,
h2,
h3 {
    font-family: sans-serif;
    margin-top: 1.5em;
    clear: both;
}

h1 {
    font-size: 32px;
}

table,
tr,
th,
td {
    border: black solid 1px;
    border-collapse: collapse;
}

table {
    margin: auto 15%;
}

figcaption {
    font-style: italic;
}

figure {
    float: right;
    margin: 1em 0 1em 1em;
}